## a ##
setwd("/Users/daisydu/Desktop")
dataset<-read.csv("PersonenSchaden.csv",header=T) 

## b ##
attach(dataset)
mean(total)
var(total)
sd(total)
summary(total)   

## c ##
hist(total,150,main="Histogram of Settled Amounts",ylab="Number of Claims",xlab="Settled Amount")   
## d ##
hist(delay,main="Histogram of Delay Months",ylab="Number of Claims",xlab="Delay Months")    

##  e  ##
h<-hist(dataset$legrep,2,freq=F)
leg.prob=h$counts/sum(h$counts)
barplot(leg.prob,names.arg =c("no","yes"),main = "The Proportion of Legal Representation",xlab="",ylab="Proportion")  

## f ##
inj3<-as.numeric(as.character(dataset$inj3))
his.inj1<-hist(dataset$inj1,9,freq=F)
his.inj2<-hist(dataset$inj2,9,freq=F,add=T)
his.inj3<-hist(inj3,9,freq=F,add=T)
his.inj4<-hist(dataset$inj4,9,freq=F,add=T)
his.inj5<-hist(dataset$inj5,9,freq=F,add=T)   

## h ##
logtotal<-log(dataset$total)
hist(logtotal,50,main="Histogram of Claim Amounts in Log value", xlab="Claim Amounts in Log value")

## i ##

plot(op_time,total,main="Claim Amounts via Operation Time", ylab="Claim Size",xlab="Operational Time",cex=0.5,pch=18)
plot(op_time,logtotal,main="Claim Amounts in Log Value via Operation Time", ylab="Claim Size in Log Value",xlab="Operational Time", cex=0.3)

## k ##
plot(op_time,logtotal,col=ifelse(legrep==0,"red","black"),pch=18,xlab="operational time",ylab="log value of claim amount",main="Claim Amounts in Log Value via Operation Time",cex=0.3)





